/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */
@import 'tailwindcss';

@custom-variant dark (&:is([data-theme="dark"] *));

@theme {
  --font-sans:
    'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #2563eb;
  --ifm-color-primary-dark: #1554e0;
  --ifm-color-primary-darker: #1350d4;
  --ifm-color-primary-darkest: #1042ae;
  --ifm-color-primary-light: #3e75ed;
  --ifm-color-primary-lighter: #4a7eee;
  --ifm-color-primary-lightest: #7098f2;
  --ifm-background-color: #ffffff;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --ifm-link-color: var(--ifm-color-primary-darker);
  --ifm-link-hover-color: var(--ifm-color-primary-darker);
  --ifm-heading-font-weight: 400;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #2563eb;
  --ifm-color-primary-dark: #1554e0;
  --ifm-color-primary-darker: #1350d4;
  --ifm-color-primary-darkest: #1042ae;
  --ifm-color-primary-light: #3e75ed;
  --ifm-color-primary-lighter: #4a7eee;
  --ifm-color-primary-lightest: #7098f2;
  --ifm-background-color: #011631;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

.btn-reset {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.footer .container-fluid {
  @apply max-w-6xl px-8;
}

.navbar .navbar__link, .footer .footer__link-item {
  @apply inline-flex items-center;
}
.breadcrumbs {
  @apply flex flex-row items-center justify-start;
}
.breadcrumbs__item {
  @apply inline-flex flex-row items-center justify-center;
}
.navbar__logo {
  @apply -mt-1;
}
